In [3]:
import pandas as pd

In [6]:
df=pd.read_csv("imdb_top_1000.csv")

In [7]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [9]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [11]:
df['Overview'][3].lower()

'the early life and career of vito corleone in 1920s new york city is portrayed, while his son, michael, expands and tightens his grip on the family crime syndicate.'

In [ ]:
df

REMOVE HTML TAGS

In [14]:
import re

def remove_html_tags(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', str(text))

In [15]:
df['Overview']= df["Overview"].apply(remove_html_tags)

In [16]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

REMOVE URLS

In [18]:
import re

def remove_url(text):
    pattern = re.compile(r"https://m\.media-amazon\.com/images/M/MV5BMDFkYT\w*")
    return pattern.sub('', str(text))

In [21]:
text="https://m\.media-amazon\.com/images/M/MV5BMDFkYT\w*"

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\Administrator\AppData\Local\Temp\ipykernel_2580\3171840198.py:1: SyntaxWarning: invalid escape sequence '\.'
  text="https://m\.media-amazon\.com/images/M/MV5BMDFkYT\w*"

In [22]:
remove_url(text)

'https://m\\.media-amazon\\.com/images/M/MV5BMDFkYT\\w*'

REMOVE PUNCTUATION

In [28]:
import string

def remove_punc(Overview):
    exclude = string.punctuation  # ye sab punctuation characters ko hataayega
    return Overview.translate(str.maketrans('', '', exclude))

In [1]:
text="Two imprisoned men bond over a number of years..."

In [3]:
print(remove_punc(text1))

NameError: name 'remove_punc' is not defined

In [29]:
df['Overview'] = df['Overview'].apply(remove_punc)

df

In [ ]:
df

chat word treatment

NameError: name 'chat_words' is not defined

spelling check

In [10]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Collecting nltk>=3.9 (from textblob)
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: click in e:\lib\site-packages (from nltk>=3.9->textblob) (8.1.8)
Collecting joblib (from nltk>=3.9->textblob)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting regex>=2021.8.3 (from nltk>=3.9->textblob)
  Downloading regex-2024.11.6-cp313-cp313-win_amd64.whl.metadata (41 kB)
Collecting tqdm (from nltk>=3.9->textblob)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in e:\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 624.3/624.3 kB 2.4 MB/s eta 0:00:00
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   -------------------- ------------------- 0.8/1.5 MB 1.7 MB/s eta 0:00:01
   --------------------------- ------------ 1.0/1.5 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 1.6 MB/s eta 0:00:00
Downloading regex-2024.11.6-cp313-cp313-win_amd64.whl (273 kB)
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, regex, joblib, nltk, textblob
Successfully installed joblib-1.4.2 nltk-3.9.1 regex-2024.11.6 textblob-0.19.0 tqdm-4.67.1

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
from textblob import TextBlob

In [28]:
text="An organized crime dynasty's aging patriarch t.."
bolb=TextBlob(text)
corrected_text= bolb.correct()

In [14]:
print(corrected_text)

In organized crime dynasty's raging patriarch t..

In [19]:
import pandas as pd

In [24]:
data = {
    'Overview': [
        "Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.",
        "An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.",
        "When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",
        "The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.",
        "A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.",
        "Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.",
        "The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.",
        "In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.",
        "A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O."
    ]
}

In [25]:
df=pd.DataFrame(data)

In [26]:
df['Overview'] = df['Overview'].apply(lambda x: str(TextBlob(str(x)).correct()))

In [27]:
df

                                            Overview
0  Two imprisoned men bond over a number of years...
1  In organized crime dynasty's raging patriarch ...
2  When the menace known as the Poker breaks havo...
3  The early life and career of To Corleone in 19...
4  A jury holdout attempts to prevent a miscarria...
5  Gandalf and Dragoon lead the World of Men agai...
6  The lives of two mob hidden, a boxer, a canist...
7  In German-occupied Poland during World War of,...
8  A thief who steals corporate secrets through t...

In [29]:
!pip install nltk

Requirement already satisfied: nltk in e:\lib\site-packages (3.9.1)
Requirement already satisfied: click in e:\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in e:\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in e:\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in e:\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in e:\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
from nltk.corpus import stopwords

In [32]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [33]:
from nltk.corpus import stopwords

In [34]:
stop_words = set(stopwords.words('english'))
print(stop_words)

{'then', 'under', 'other', "doesn't", 'above', "we're", 'ours', "aren't", "didn't", 'aren', 'can', 'won', 'didn', 'hasn', "you'd", 'between', 'now', 'shan', 'an', 'why', 'o', 'that', "mightn't", "needn't", 'those', "he's", 'over', 'in', 'whom', 'been', 'have', 'himself', 'mustn', 'haven', 'she', 'this', 'her', 'down', "shan't", 'who', 'further', "you've", 'are', 's', "she'd", 'which', 'not', "couldn't", 've', 'does', 'what', "hadn't", 'his', "she's", 'its', 't', "we'll", 'own', 'nor', 'very', "they're", 'were', 'where', 'some', "that'll", 'here', 'below', 'all', "it's", 'once', 're', 'itself', 'no', 'doing', 'being', 'any', "wouldn't", "you're", 'because', 'few', 'during', 'them', "we've", 'by', 'having', 'and', 'wasn', 'you', 'theirs', "don't", 'don', 'too', 'more', "isn't", 'y', 'wouldn', 'on', 'our', "i'd", 'themselves', 'couldn', 'to', 'is', 'about', 'my', 'a', "she'll", "i'm", 'do', 'if', 'as', "shouldn't", 'weren', 'your', 'for', 'will', 'we', 'myself', "they've", 'again', 'until', 'am', "hasn't", 'the', "i've", "he'd", "wasn't", 'i', 'mightn', 'just', 'up', 'hers', 'yours', 'shouldn', 'isn', 'herself', 'll', 'be', 'm', 'before', 'from', 'of', 'did', "you'll", 'while', 'has', 'most', 'both', 'how', "they'll", 'had', 'into', "haven't", "should've", 'their', 'ain', 'at', 'these', 'when', 'yourself', 'out', 'doesn', 'same', "it'll", 'needn', 'off', "it'd", 'through', 'but', "weren't", 'they', 'him', "they'd", 'against', 'ma', 'so', 'there', 'ourselves', 'd', 'it', "won't", 'with', 'after', "we'd", 'such', 'he', "he'll", 'should', 'or', 'than', 'yourselves', 'hadn', "i'll", 'was', 'only', 'me', "mustn't", 'each'}

In [40]:
stop_words=set(stopwords.words('turkish'))
print(stop_words)

{'nasıl', 'kez', 'mü', 'hiç', 'az', 'ki', 'bu', 'eğer', 'mu', 'hep', 'belki', 'tüm', 'da', 'niye', 'diye', 'nerede', 'o', 'ya', 'de', 'biri', 'kim', 'şey', 'için', 'mı', 'çünkü', 'nereye', 'defa', 'neden', 'en', 'siz', 'şu', 'nerde', 'aslında', 'çok', 'yani', 'veya', 'her', 'hepsi', 'ne', 'gibi', 'ile', 'sanki', 'niçin', 'biz', 'ama', 'birşey', 'ise', 'bazı', 'hem', 'daha', 'birkaç', 'acaba', 've'}

In [43]:
from nltk.corpus import stopwords

def remove_stop_words(text):
    stop_words = set(stopwords.words('english'))
    new_text = []

    for word in text.split():
        if word.lower() not in stop_words:
            new_text.append(word)

    return " ".join(new_text)

if we apply stopwords on the whole dataset:

In [42]:
df["Overview"].apply(remove_stopwords)

NameError: name 'remove_stopwords' is not defined

In [44]:
text = "This is an example sentence with some common stopwords."
print(remove_stop_words(text))

example sentence common stopwords.

In [46]:
df['Overview'] = df['Overview'].apply(remove_stop_words)

In [47]:
df

                                            Overview
0  Two imprisoned men bond number years, finding ...
1  organized crime dynasty's raging patriarch tra...
2  menace known Poker breaks havoc chaos people G...
3  early life career Corleone 1920s New Work City...
4  jury holdout attempts prevent miscarriage just...
5  Gandalf Dragoon lead World Men Baron's army dr...
6  lives two mob hidden, boxer, canister wife, pa...
7  German-occupied Poland World War of, industria...
8  thief steals corporate secrets use dream-shari...

In [ ]:
df["overview"]=df["overview"].apply(remove_stop_words)

In [48]:
import re 
def remove_emoji(text):
    emoji.pattern=re.compile( "["
        u"\U0001F600-\U0001F64F"  # 😀 se 😟 (Emoticons)
        u"\U0001F300-\U0001F5FF"  # 🌁 se 🗿 (Symbols & Pictographs)
        u"\U0001F680-\U0001F6FF"  # 🚀 se 🛿 (Transport & Map Symbols)
        u"\U0001F1E0-\U0001F1FF"  # 🇦 se 🇿 (Flags)
        u"\U00002500-\U00002BEF"  # Box drawing & more
        u"\U00002700-\U000027BF"  # Dingbats
        u"\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
        u"\U0001FA70-\U0001FAFF"  # Extended symbols
        u"\U00002600-\U000026FF"  # Misc symbols
        "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'' ,text)

In [49]:
text = "I love Python 🐍🔥! It's amazing 😍💻."

In [51]:
print(remove_emojis(text))

NameError: name 'remove_emojis' is not defined

STEMMING:

In [ ]:
from nltk.stem.porter import porterstemmer

In [56]:
from nltk.stem import PorterStemmer

ps = PorterStemmer()

def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [58]:
sample="this is an apple"
stem_words(sample)

'thi is an appl'

In [59]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

def stem_words(text):
    return " ".join([ps.stem(word)for word in text.split()])

lemmatization

In [63]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...

True

In [65]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

# First time only (uncomment this if you haven't downloaded)
# nltk.download('punkt')
# nltk.download('wordnet')
# nltk.download('omw-1.4')
# nltk.download('averaged_perceptron_tagger')

lemmatizer = WordNetLemmatizer()

# Basic examples
words = ['cars', 'running', 'flies', 'studies', 'better']
for word in words:
    print(f"{word} → {lemmatizer.lemmatize(word)}")

cars → car
running → running
flies → fly
studies → study
better → better

regular Expressions

In [67]:
import re 
def tokenize_text(text):
   tokens=re.findall(r'\b\w+\b', text)
   return tokens

In [68]:
text = "Hello! This is a test, for regex-based tokenization."
print(tokenize_text(text))

['Hello', 'This', 'is', 'a', 'test', 'for', 'regex', 'based', 'tokenization']

In [69]:
def sentense_tokenize(text):
    sentences=re.split(r'[.!?]\s*' , text)

In [71]:
text = "Hello world! How are you? I'm good."
sentense_tokenize(text)

In [72]:
text

"Hello world! How are you? I'm good."

NLTK

In [74]:
import nltk
from nltk.tokenize import word_tokenize

In [82]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [83]:
text = "Hello! This is a test, using NLTK's tokenizer."

In [84]:
tokens = word_tokenize(text)

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - 'C:\\Users\\Administrator/nltk_data'
    - 'E:nltk_data'
    - 'E:share\\nltk_data'
    - 'E:lib\\nltk_data'
    - 'C:\\Users\\Administrator\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [80]:
print(tokens)

NameError: name 'tokens' is not defined

In [90]:
import nltk
nltk.download('punkt')  # ✅ yeh sahi resource hai

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [91]:
from nltk.tokenize import sent_tokenize

In [92]:
text = "Hello world! How are you? I’m learning NLP."

In [93]:
sentences= sent_tokenize(text)

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - 'C:\\Users\\Administrator/nltk_data'
    - 'E:nltk_data'
    - 'E:share\\nltk_data'
    - 'E:lib\\nltk_data'
    - 'C:\\Users\\Administrator\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [94]:
print(sentences)

NameError: name 'sentences' is not defined